:root{
  --color-yelowe:#F8F200;
  --color-black :#000000;
  --Color-blu:#52BEDC;
}


@font-face {
  font-family: 'Roboto';
  src: url('../FONTS/Roboto-Regular_1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Bebas Neue';
  src: url('../FONTS/BebasNeue-Regular_1.woff') format('woff');
  font-weight: normal;
  font-style: sans-serif;
}

body{
width: 1920px; 
height: 4334px;

}

header{

  display: flex;
  width:1280px;
  height: 74px;
  justify-content:center;
  align-items: center; 
  gap: 605px;
  margin: 20px 320px 906px 320px; 
}
.media{
  padding: 0px;
  display: flex;
  width: 379px; 
  height: 30px;
  gap: 40px; 
  
}

.logo{
  width: 296;
  height: 74px; 
  
}

.group_1{
  display: flex;
  
  
}

.background{
  
}

.group_banner{
  display: flex;
}