:root{
  --color-yelowe:#F8F200;
  --color-black :#000000;
  --Color-blu:#52BEDC;
 
  
  --font-family-base1:"BebasNeue-Regular";
  --font-family-base2:"Roboto-Regular";
  --font-family-base3:"Roboto-Bold";
  --font-family-base4:"Roboto-Light"

}

@font-face {
  font-family: 'Roboto-light';
  src: url('../FONTS/static/Roboto-Light.woff');
  font-weight: 400;
  font-style: normal;
  
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../FONTS/static/Roboto-Bold.woff');
  font-weight: 400;
  font-style: normal;
  
}


@font-face {
  font-family: 'Roboto-Regular';
  src: url('../FONTS/Roboto-Regular_1.woff');
  font-weight: 400;
  font-style: normal;
  
}


@font-face {
  font-family: 'BebasNeue';
  src: url('../FONTS/static/BebasNeue-Regular_1.woff');
  font-weight: 400;
  font-style: normal;
}

body{
font-family:var(--font-family-base4);
font-family:var(--font-family-base3);
font-family:var(--font-family-base2);
font-family:var(--font-family-base1);
width: 1920px; 
height: 4334px;

}

header{
  display: flex;
  position: absolute;
  width: 1280px;
  height: 74px;
}

.header-settings {
  display: flex;
  gap: 605px;
  height: 74px;
  width: 1280px;
  margin: 20px 320px 0px 320px;
}

.media{
  display: flex;
  padding: 0px;
  gap: 40px;
  width: 379px; 
  height: 30px;
  
}

.logo{
  display: flex;
  width: 296px;
  height: 74px; 
  
}

.group_1 {
  flex-flow: column wrap;
  display: flex;
  width: 1920px;
  height: 1000px;
  background-image: url(../IMAGES/background.png);
  
}

.group_banner {
  display: flex;
  flex-flow: column;
  width: 624px;
  height: 369px;
  background-color: #F8F200;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%);
  margin: 631px 320px 0px 976px; 
}

.text_logo_banner{
display: flex;
font-family: var(--font-family-base1);
width: 484px;
height: 126px;
font-size: 55px;
margin: 70px 70px 25px 70px; 

}

.background_button{
display: flex;
justify-content: center;
width: 272px;
height: 78px;
background-color: #000000;
margin: 0px 282px 70px 70px; 
}

.font_button {
  font-family: var(--font-family-base3);
  display: flex;
  align-items: center;
  color: #F8F200;
  font-size: 24px;
 line-height: 40px;
}
.font_button:hover{
  color: white;
}



/* страница 2 */
.group_2{
  justify-content: center;
  flex-flow: column;
  width: 1920px;
  height: 777px;
  background-color: white;
}

.group2_text_logo{
  width: 996px;
  height: 63px;
  font-size: 62px;
}

.group2_text2_base{
  line-height: 34px;
  font-family: var(--font-family-base2);
  color: gray;
  display: flex;
  width: 952px;
  height: 125px;
  font-size: 18px;
}
.cyberpunk2077{
  color: #52BEDC;
}


.text_in_group2{
  display: flex;
  flex-flow: column;
  gap: 28px;
  justify-self: center;
  margin:  77px 620px 0px 320px;
}

.group_img_in_group2{
  display:flex;
  flex-flow: column wrap;
  gap:32px;
  row-gap:32px ;
  justify-content: center;
  width: 1280px;
  height: 424px;
  margin: 67px 338px 11px 304px;
}

.img1_in_group_in_group2{
  width: 460px;
  height: 196px;
} 

.img2_in_group_in_group2{
  width: 460px;
  height: 196px;
}

.img3_in_group_in_group2{
    width: 788px;
    height: 424px;
}

.bridge1{
  width:1920px ;
  height: 70px;
  background-image: url(../IMAGES\22 1.png);
  
}



.group_3{
width: 1920px;
height: 884px; ;
background-color: #000000;
}



.text_logo_group3{
  width: 569px;
  height: 63px; 
  color: white;
  font-size: 62px;
  margin-left: 32px;
  
  
}


.text_base_in_group3{
  width: 952px;
  height: 91px;
  font-family: var(--font-family-base2);
  line-height: 34px;
  color: white;
  font-size: 18px;
  display: flex;
  flex-flow:column wrap;
  margin: 25px 0px 0px 0px ;

}

.group1_in_group3{
  margin: 15px 648px 0px 320px;
  gap: 32px;
}

.registation{
  display: flex;
  flex-flow: column;
  width: 460px;
  height: 383px;
  color: white;
  
}

.name{
  width:460px ;
  height:35px ;
  border-bottom: 0.5px solid #C4C4C4;
  row-gap: 13px;
  margin-bottom: 35px;
}

.whats_your_name{
  display: flex;
  font-family: var(--font-family-base4);
  font-size: 18px;
  width: 131px;
  height: 21px;
  padding-bottom: 13px;
}

.mail{
  width: 460px;
  height: 35px;
  border-bottom: 0.5px solid #C4C4C4;
  padding-bottom: 35px;
  
}

.whats_your_mail{
  font-size: 18px;
  font-family: var(--font-family-base4);
  width: 93px;
  height: 21px;
  padding-bottom: 13px;
}

.screenshot{
  display: flex;
  width: 460px;
  height: 120px;
  align-items: center;
  justify-content: center;
 border: 1px solid #777777;
}

.screenshot_button{
  display: flex;
  flex-flow: column;
  gap: 7px;

}

.pint_screenshot{
  font-size: 18px;
  font-family: var(--font-family-base4);
  display: flex;
  align-items: center;
  width: 186px;
  height: 21px;
  border-bottom: 0.5px solid #C4C4C4;
}

.format{
  font-family: var(--font-family-base4);
  font-size: 12px;
  display: flex;
  align-items: center;
  width: 84px;
  height: 14px;
}

.group_button{
  row-gap: 35px;
  
}


.pint_screenshot{
  width: 186px;
  height: 21px;
}

.format{
  width: 84px;
  height: 14px;
}

.group_img_in_group3{
  display: flex;
  width: 788px;
  height: 456px;
  gap: 32px
}

.img_xbox{
  width: 296px; 
  height: 351px;
}

.img_playstation{
  width: 296px;
  height: 351px;
}

.background_img_in_group_ing{
  width: 788px;
  height: 456px;
}

.images_consle{
  display: flex;
  position: absolute;
  gap: 32px;
  margin: 24px 0px 80px 164px;
}
.group_images_and_registation{
  width:1280px ;
  height: 456px;
  display: flex;
  align-items: end;
  gap: 32px;
  margin: 25px 0px 70px 320px;

}

.button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#F8F200;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 192px;
  height: 59px;
}


.group_button1 {
  margin: 35px 0px 15px ;
  width: 194px;
  height: 59px; 
}

.text_in_button1{
  font-family: var(--font-family-base3);
  font-size: 18px;
  width: 92px;
  height: 21px;
   display: flex;
  align-items: center;
  justify-content: center;
}
.text_in_button1:hover{
  color: white;
}
.registation_end{
  display: flex;
  width: 280px;
  height: 14px;
}



/* Страница  4 */

.bridge2{
  width: 1920px;
  height: 70px;
  background-image: url(../IMAGES\22 2.png);
}

.group_4{
  display: flex;
  flex-wrap: wrap;
  width:1920px ;
  height: 676px;
  background-color: #F8F200;
}

.group_img_in_group4{
  display: flex;
  flex-flow: column;
  width:624px ;
  height:536px;
  row-gap:26px;
}

.screen{
  width: 624px;
  height: 430px;
}

.logo_group_in_group4{
  display: flex;
  justify-content: center;
  align-items: center;
  width:540px;
  height: 80px;
  margin: 0px 42px 70px 42px ;
  gap: 25px;
  
}

.img_cross{
  width: 90px ;
  height: 90px; 
}

.group_1_in_group4{
  display: flex;
  flex-direction: column;
  width: 624px ;
  height: 526px;
}

.text1_in_group1{
  display: flex;
  font-size: 62px;
  width: 560px;
  height: 237px;
}

.text2_in_group1{
  line-height: 20px;
  font-family: var(--font-family-base2);
  display: flex;
  font-size: 18px;
  width: 624px;
  height: 125px;
}

.text_group1{
  display: flex;
  flex-direction: column; 
  gap: 10px;
  row-gap: 15px ;
  width: 390px;
  height: 126px;

}

.group1_text_group1{
  width: 264px;
  height: 32px;
}


.group2_text_group1{
  width: 350px;
  height:32px ;
}


.group3_text_group1{
  width:390px ;
  height: 32px;
}
.text1_in_group1_text{
  font-size: 18px;
  font-family: var(--font-family-base2);
  width:221px ;
  height: 21px;
}
.text2_in_group1_text{
  font-size: 18px;
  font-family: var(--font-family-base2);
  width:308px ;
  height: 21px;
}
.text3_in_group1_text{
  font-size: 18px;
  font-family: var(--font-family-base2);
  width: 348px;
  height: 21px;
}


.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #F8F200;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 194px;
  height: 59px;
}


.group_button {
  margin: 25px 0;
  width: 194px;
  height: 59px; 
}

.text_in_button{
  font-size:18px ;
  font-family: var(--font-family-base3);
  width: 94px;
  height: 21px;
   display: flex;
  align-items: center;
  justify-content: center;
}

.ing_group_and_group1_in_group4{
  display: flex;
  gap: 32px;
  margin: 0px 320px  0px 320px;
}

.group_5{
  display: flex;
  width: 1920px;
  height: 717px;
  

}

.group1_in_group5{
  display:flex;
  flex-flow: column;
  width: 976px;
  height: 717px;
  background-color: #000000;
}

.text_group_in_group1{
  display: flex;
  flex-flow: column;
  width:466px;
  height: 169px;
  row-gap: 15px;
  margin: 25px 158px 0px 0px;
}

.text_promo{
  font-size: 24px;
  font-family: var(--font-family-base3);
  display: flex;
  width: 224px;
  height: 28xp;
  font-size: 28px;
  color: var(--Color-blu);
}

.buy_game{
display: flex;
color: white;
font-size: 62px;
width: 624px;
height: 126px;
margin: 70px 320px 25px 0px;

}
.general2_group{
  display: flex;
  flex-flow: column;
  row-gap: 15px;
  color:white;

}
.group1_in_text_group{
  font-size:18px ;
  font-family:var(--font-family-base2);
  display: flex;
  align-items: center;
  gap: 10px;
  width:286px;
  height:32px;
}
.group2_in_text_group{
  font-size: 18px;
  font-family: var(--font-family-base2);
  display: flex;
  align-items: center;
  gap: 10px;
  width: 466px;
  height: 32px;
}

.group3_in_text_group{
  font-size: 18px;
  font-family: var(--font-family-base2);
  display: flex;
  align-items: center;
  gap: 10px;
  width: 431px;
  height: 32px;
}

.platforms{
  width:319 ;
 height: 186.27px;
 margin: 50px 147px 70.73px 0px;
}

.choice_platform{
  font-size: 24px ;
  font-family:var(--font-family-base3) ;
  width: 255px;
  height: 28.15px;
  color: #52BEDC;
  font-size: 24px;
  
}
.group_console{
    display: flex;
    align-items: flex-start;
    gap: 79px;
    flex-wrap: wrap;
    
    width: 319px;
    height: 133.27px;
}

.general1_group{
  margin-left: 32px;
}




footer {
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: auto; /* Убираем фиксированную высоту */
  background-color: white; /* Добавляем черный фон как в макете */
}

.general_group_in_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 13px 320px;
  box-sizing: border-box;
  height: auto; /* Убираем фиксированную высоту */
}

.img_group {
  display: flex;
  gap: 32px;
  align-items: center;
  height: 74px;
}

.text_group {
  
  display: flex;
  gap: 32px;
  align-items: center;
  height: 21px;
}
.text1{
  font-size: 18px;
  font-family: var(--font-family-base2);
  width: 84px;
  height: 21px;
}
.text2{
  font-size:18px ;
  font-family: var(--font-family-base2);
  width: 272;
  height: 21px;
}

.end_foter {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 320px;
  box-sizing: border-box;
  margin-top: 5px;
  height: auto;
  padding-bottom: 10px; /* Небольшой отступ снизу */
  background-color: #000000;
}

/* Добавляем стили для ссылок в footer */
.text_group a {
  color:#000000;
  text-decoration: none;
  font-size: 16px;
}

.end_foter a {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 14px;
}