:root{
  --color-yelowe:#F8F200;
  --color-black :#000000;
  --Color-blu:#52BEDC;
 
  --font-family-base:'Roboto';
}


@font-face {
  font-family: 'Roboto';
  src: url('../FONTS/Roboto-Regular_1.woff');
  font-weight: 400;
  font-style: normal;
  
}


@font-face {
  font-family: 'Arial';
  src: url('../FONTS/arialmt.woff');
  font-weight: 400;
  font-style: normal;
}

body{
font-family:var(--font-family-base);
font-family:var(--font-family-base);
width: 1920px; 
height: 4334px;

}

header{
  display: flex;
  position: absolute;
  width: 1280px;
  height: 74px;
}

.header-settings {
  display: flex;
  gap: 605px;
  height: 74px;
  width: 1280px;
  margin: 20px 320px 0px 320px;
}

.media{
  display: flex;
  padding: 0px;
  gap: 40px;
  width: 379px; 
  height: 30px;
  
}

.logo{
  display: flex;
  width: 296px;
  height: 74px; 
  
}

.group_1 {
  flex-flow: column wrap;
  display: flex;
  width: 1920px;
  height: 1000px;
  background-image: url(../IMAGES/background.png);
  
}

.group_banner {
  display: flex;
  flex-flow: column;
  width: 624px;
  height: 369px;
  background-color: #F8F200;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%);
  margin: 631px 320px 0px 976px; 
}

.text_logo_banner{
display: flex;
width: 484px;
height: 126px;
font-size: 55px;
margin: 70px 70px 25px 70px; 

}

.background_button{
display: flex;
justify-content: center;
width: 272px;
height: 78px;
background-color: #000000;
margin: 0px 282px 70px 70px; 
}

.font_button {
  display: flex;
  align-items: center;
  color: #F8F200;
  font-size: 24px;
}




/* страница 2 */
.group_2{
  justify-content: center;
  flex-flow: column;
  width: 1920px;
  height: 777px;
  background-color: white;
}

.group2_text_logo{
  width: 996px;
  height: 63px;
  font-size: 62px;
}

.group2_text2_base{
  line-height: 20px;
  display: flex;
  width: 952px;
  height: 125px;
  font-size: 18px;
}

.text_in_group2{
  display: flex;
  flex-flow: column;
  gap: 28px;
  justify-self: center;
  margin:  77px 620px 0px 320px;
}

.group_img_in_group2{
  display:flex;
  flex-flow: column wrap;
  gap:32px;
  row-gap:32px ;
  justify-content: center;
  width: 1280px;
  height: 424px;
  margin: 67px 338px 11px 304px;
}

.img1_in_group_in_group2{
  width: 460px;
  height: 196px;
} 

.img2_in_group_in_group2{
  width: 460px;
  height: 196px;
}

.img3_in_group_in_group2{
    width: 788px;
    height: 424px;
}

.bridge1{
  width:1920px ;
  height: 70px;
  background-image: url(../IMAGES\22 1.png);
  
}
.group_3{
display: flex;
flex-flow: column;
width: 1920px;
height: 884px; ;
background-color: #000000;
}



.text_logo_group3{
  width: 569px;
  height: 63px; 
  color: white;
  font-size: 62px;
  margin-left: 32px;
  
  
}


.text_base_in_group3{
  width: 952px;
  height: 91px;
  color: white;
  font-size: 18px;
  display: flex;
  flex-flow:column wrap;
  margin: 25px 0px 0px 0px ;

}

.group1_in_group3{
  margin: 15px 648px 98px 320px;
  gap: 32px;
}

.registrations{
  display: flex;
  flex-flow: column;
  width: 460px;
  height: 383px;
  margin: 98px;
  row-gap: 35px;
  color: white;
}

.name{
  width:460px ;
  height:35px ;
  border-bottom: 0.5px solid #C4C4C4;
}

.whats_your_name{
  width: 131px;
  height: 21px;
  padding-bottom: 13px;

}

.mail{
  width: 460px;
  height: 35px;
  border-bottom: 0.5px solid #C4C4C4;
}

.whats_your_mail{
  width: 93px;
  height: 21px;
  padding-bottom: 13px;
}

.screenshot{
  display: flex;
  width: 460px;
  height: 120px;
  align-items: center;
  justify-content: center;
  border:0.5px solid #C4C4C4;
}

.screenshot_button{
  width: 186px;
  height: 42px;

}

.pint_screenshot{
  display: flex;
  align-items: center;
  width: 486px;
  height: 21;
  border-bottom: 0.5px solid #C4C4C4;
}

.format{
  display: flex;
  align-items: center;
  width: 84px;
  height: 14px;
}

.group_button{
  row-gap: 15px;
  
}

.pint_screenshot{
  width: 186px;
  height: 21px;
}

.format{
  width: 84px;
  height: 14px;
}

.group_img_in_group3{
  display: flex;
  background-image: url(../IMAGES\Group246.png);
  width: 788px;
  height: 456px;
  gap: 32px
}

