@font-face {
  font-family: 'Roboto';
  src: url('../FONTS/Roboto-Regular_1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Bebas Neue';
  src: url('../FONTS/BebasNeue-Regular_1.woff') format('woff');
  font-weight: normal;
  font-style: sans-serif;
}

header{
background-image: url("../IMAGES/background.png");
display: flex;
width: 1920px; 
margin: 0 auto; 
}
.media{
    display: flex;
    gap: 40px;
    align-items: center;

}

.flexbox{
    display: flex;
    margin: auto;
    gap: 605px;
    padding-top:20px; ;
    padding-left:320px ;
    padding-right: 320px;
    padding-bottom: 906px;
}

.group-in-header{
    display: flex;
    left: 80px;
    align-self: flex-end;
    padding-top:31px; ;
    padding-left:32px ;
    padding-right: 97px;
    padding-bottom:0px  ; 

}